.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-container table {
    border-collapse: collapse;
    width: 50%;
  }
  
  .table-container th,
  .table-container td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px; /* Add padding to create space between columns */
  }
  
  .table-container th {
    background-color: #ffffff;
  }

.home-tabs-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.coin-link {
  display: contents;
  text-decoration: none; /* Optional: Remove default link underline */
}